<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registrarse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
    </style>
</head>
<body>
    <div class ="container">
        <div class="jumbotron" style="font-style:italic; background-color: aquamarine">
           <h1>LR TOUR</h1>
            <p>Informaci&oacute;n de lugares turisticos rapida, variada y confiable</p>          
        </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand active" href={% url 'Portada' %}>LR TOUR</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Lista de Lugares</a></li>
                <li><a href="#">Sugerir Lugar</a></li>
                <li><a href="#">Cuenta</a></li>
                <li><a href="#">Rutas</a></li>
            </ul>
        </div>
    </nav>
 </div>
        <form action="." method="post">
 <div class="row">
  <div class="container">
<div class="col-md-6">
    <table class="table table-bordered">
     <thead>
      <tr>
        <th>Regiones</th>
      </tr>
     </thead>
      <tbody>
        {% csrf_token %}
        {% for region in ListaDeRegiones %}
            <tr>
                <td>{{ region.nombre }}</td>
                <td><button type="submit" class="btn btn-primary" value="{{region.id}}" name="botonDeSeleccionDeRegion">Mas</button></td>
            </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
        <div class="col-md-offset-8">
  <div class="panel panel-default">
    <div class="panel-heading">Lugares que componen la Ruta</div>
              {% for lugar in Ruta %}
            <div class="panel-body"></div>
              {% endfor %}
  </div>
</div>
</div>
 </div>
    <div class="container">
    <button type="submit" class="btn btn-success" name="botonLogout">Logout</button>
    </div>   
</form>

</body>
</html>