<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registrarse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
        <div class ="container">
        <div class="jumbotron" style="font-style:italic; background-color: aquamarine">
           <h1>LR TOUR</h1>
            <p>Informaci&oacute;n de lugares turisticos rapida, variada y confiable</p>          
        </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href={% url 'Portada' %}>LR TOUR</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Administrar Lugares</a></li>
                <li><a href="#">Administrar Reportes</a></li>
                <li><a href="#">Administrar Sugerencias</a></li>
                <li><a href="#">Administrar Usuario</a></li>
            </ul>
        </div>
    </nav>
 </div>
    <div class="container">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre de Usuario</th>
        <th>Asunto</th>
        <th>Mensaje</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for FormularioReporte in ListaDeReportes %}
            <tr>
                <td>{{ FormularioReporte.nombreUsuario }}</td>
                <td>{{ FormularioReporte.asunto }}</td>
                <td>{{ FormularioReporte.descripcion }}</td>
                <td><button type="submit" class="btn-primary" value="Submit">Responder</button></td>
            </tr>
        {% endfor %}
    </tbody>
  </table> 
</div>
</body>
</html>